@charset "utf-8";

section#spec-sec {
    width: 1000px;
    margin: auto;
}

iframe#frame-spec {
    width: 430px;
    height: 280px;
    display: block;
    float: right;
    margin-right: 30px;
    margin-bottom: 30px;
    border: none;
}
